# -- Web Server --
Flask==3.0.3
Flask-CORS==4.0.1
gunicorn==22.0.0
gevent==24.2.1

# -- Core Utility Libraries --
numpy==1.26.4

# -- NLP & Semantic Similarity Libraries --
# Only need requests for the API call
requests==2.32.3
# Used for fast string similarity scoring in the lookup engine
fuzzywuzzy==0.18.0
python-Levenshtein==0.21.1

# -- Other Core Dependencies --
python-dateutil==2.9.0.post0